/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 /**
 * Alerts
 * This is basically same style as bootstrap use. Change to suit your needs.
 */
.frontend_box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 35px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}
.frontend_box h4 {
  margin-top: 0;
  color: inherit;
}
.frontend_box .frontend_box-link {
  font-weight: bold;
}
.frontend_box > p,
.frontend_box > ul {
  margin-bottom: 0;
}
.frontend_box > p + p {
  margin-top: 5px;
}

.frontend_box .frontend_box_close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.frontend_box-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.frontend_box-success hr {
  border-top-color: #c9e2b3;
}
.frontend_box-success .frontend_box-link {
  color: #2b542c;
}
.frontend_box-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.frontend_box-info hr {
  border-top-color: #a6e1ec;
}
.frontend_box-info .frontend_box-link {
  color: #245269;
}
.frontend_box-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.frontend_box-warning hr {
  border-top-color: #f7e1b5;
}
.frontend_box-warning .frontend_box-link {
  color: #66512c;
}
.frontend_box-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.frontend_box-error hr {
  border-top-color: #e4b9c0;
}
.frontend_box-error .frontend_box-link {
  color: #843534;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.frontend_box button.frontend_box_close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}